.image-overlay {
    
    border-radius: 10;
    /* background-image: url('../../images/bright_sun.jpg'); */
    /* background-size: contain; */
    background-position: center;
    /* width: 100vw; */
    height: 600vh;
    /* min-height: 600px; */
    color: black;
    font-family: 'Oxygen', sans-serif;
  
    /* position: relative; */
    /* z-index: -1; */
    overflow: hidden;
    opacity: .8;
  }

  h1, p {
    margin: 0px;
    padding: 0px;
  }
  
  
  @media only screen and (max-width: 320px) {
    .main-content h1 {
      font-size: 2rem;
    }
    .main-content p {
      font-size: 1.5rem;
    }
  }
  